aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
attrs==25.4.0
black==25.11.0
browserforge==1.2.3
camoufox==0.4.11
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.0
Cython==3.2.1
frozenlist==1.8.0
greenlet==3.2.4
idna==3.11
language-tags==1.2.0
lxml==6.0.2
multidict==6.7.0
mypy_extensions==1.1.0
numpy==2.3.4
orjson==3.11.4
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
playwright==1.56.0
propcache==0.4.1
pyee==13.0.0
pyobjc-core==12.1; sys_platform == "darwin"
pyobjc-framework-Cocoa==12.1; sys_platform == "darwin"
PySocks==1.7.1
pytokens==0.3.0
PyYAML==6.0.3
requests==2.32.5
screeninfo==0.8.1
tqdm==4.67.1
typing_extensions==4.15.0
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
urllib3==2.5.0
yarl==1.22.0
openpyxl>=3.1.0,<4
selenium>=4.10,<5
undetected-chromedriver>=3.5.0,<4
setuptools>=70,<81
